.hero{
    background-image: url('/images/background.jpg');
    padding: 20px;
    color: #ffffff;
    margin-top: 45px;
}

#black_color{
    color: #ffffff;
}

.margin-botton15{
    margin-bottom: 15px;
}

.margin-botton0{
    margin-bottom: 0px;
}

.margin-cenrto{
    margin: 0 auto;
}
.margin-left50{
    margin-left: 50px;
}

.margin-left30{
    margin-left: 30px;
}

.margin-left60{
    margin-left: 60px;
}

.margin-left0{
    margin-left: 0px;
}

.margin-top20{
     margin-top: 20px;
 }

.width530{
    width: 530px;
    margin-bottom: 0px;
}

.width-height{
    width: 300px;
    height: 200px;
}

#result-analys th{
    width: 300px;

}

#result-analys tr.no-border td,
#result-analys tr.no-border th
{
    border: none;
}

.margin{
    margin-bottom: 10px;
    margin-top: 10px;
}

.width220{
    width: 220px;
}

.firstText{
    font-size: 15px;
    line-height: 25px;
}

.vertical-line{
    height: 60px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}
.width{
    width: 100%;
}